src/main/resources/feedjsontemplate/filesystem_template.json
{
	"id": null,
	"versionName": null,
	"templateId": "6d8749ef-2bbd-4984-baba-402147e4a336",
	"feedName": "fileSystem",
	"description": "",
	"systemFeedName": "file_system",
	"inputProcessorType": "org.apache.nifi.processors.standard.GetFile",
	"inputProcessorName": "Filesystem",
	"inputProcessor": {
		"properties": [
			{
				"processGroupName": "NiFi Flow",
				"processorName": "Filesystem",
				"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
				"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
				"processorType": "org.apache.nifi.processors.standard.GetFile",
				"key": "Input Directory",
				"value": "/var/dropzone",
				"expressionProperties": null,
				"propertyDescriptor": {
					"name": "Input Directory",
					"displayName": null,
					"description": null,
					"defaultValue": null,
					"allowableValues": null,
					"required": null,
					"sensitive": null,
					"dynamic": null,
					"supportsEl": null,
					"identifiesControllerService": null
				},
				"templateValue": null,
				"userEditable": true,
				"renderType": "text",
				"renderOptions": {},
				"selected": false,
				"inputProperty": true,
				"containsConfigurationVariables": false,
				"sensitive": false,
				"required": false,
				"templateProperty": null,
				"idKey": "12216503-0164-1000-01f0-607e82218f39-719e87ad-b373-38fe-6c85-31afdafa42f6-Input Directory",
				"processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory",
				"nameKey": "NiFi Flow-Filesystem-Input Directory",
				"renderWithCodeMirror": false,
				"displayValue": "/var/dropzone",
				"formKey": "input_directoryfilesystem"
			},
			{
				"processGroupName": "NiFi Flow",
				"processorName": "Filesystem",
				"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
				"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
				"processorType": "org.apache.nifi.processors.standard.GetFile",
				"key": "File Filter",
				"value": "mydata\\d{1,3}.csv",
				"expressionProperties": null,
				"propertyDescriptor": {
					"name": "File Filter",
					"displayName": null,
					"description": null,
					"defaultValue": null,
					"allowableValues": null,
					"required": null,
					"sensitive": null,
					"dynamic": null,
					"supportsEl": null,
					"identifiesControllerService": null
				},
				"templateValue": null,
				"userEditable": true,
				"renderType": "text",
				"renderOptions": {},
				"selected": false,
				"inputProperty": true,
				"containsConfigurationVariables": false,
				"sensitive": false,
				"required": false,
				"templateProperty": null,
				"idKey": "12216503-0164-1000-01f0-607e82218f39-719e87ad-b373-38fe-6c85-31afdafa42f6-File Filter",
				"processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter",
				"nameKey": "NiFi Flow-Filesystem-File Filter",
				"renderWithCodeMirror": false,
				"displayValue": "mydata\\d{1,3}.csv",
				"formKey": "file_filterfilesystem"
			}
		],
		"type": "org.apache.nifi.processors.standard.GetFile",
		"name": "Filesystem",
		"id": "719e87ad-b373-38fe-6c85-31afdafa42f6",
		"groupName": "NiFi Flow",
		"groupId": "12216503-0164-1000-01f0-607e82218f39",
		"inputProcessor": true,
		"userDefinedInputProcessor": false,
		"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
		"userEditable": true,
		"feedPropertiesUrl": null,
		"allProperties": [
			{
				"processGroupName": "NiFi Flow",
				"processorName": "Filesystem",
				"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
				"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
				"processorType": "org.apache.nifi.processors.standard.GetFile",
				"key": "Input Directory",
				"value": "/var/dropzone",
				"expressionProperties": null,
				"propertyDescriptor": {
					"name": "Input Directory",
					"displayName": null,
					"description": null,
					"defaultValue": null,
					"allowableValues": null,
					"required": null,
					"sensitive": null,
					"dynamic": null,
					"supportsEl": null,
					"identifiesControllerService": null
				},
				"templateValue": null,
				"userEditable": true,
				"renderType": "text",
				"renderOptions": {},
				"selected": false,
				"inputProperty": true,
				"containsConfigurationVariables": false,
				"sensitive": false,
				"required": false,
				"templateProperty": null,
				"idKey": "12216503-0164-1000-01f0-607e82218f39-719e87ad-b373-38fe-6c85-31afdafa42f6-Input Directory",
				"processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory",
				"nameKey": "NiFi Flow-Filesystem-Input Directory",
				"renderWithCodeMirror": false,
				"displayValue": "/var/dropzone",
				"formKey": "input_directoryfilesystem"
			},
			{
				"processGroupName": "NiFi Flow",
				"processorName": "Filesystem",
				"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
				"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
				"processorType": "org.apache.nifi.processors.standard.GetFile",
				"key": "File Filter",
				"value": "mydata\\d{1,3}.csv",
				"expressionProperties": null,
				"propertyDescriptor": {
					"name": "File Filter",
					"displayName": null,
					"description": null,
					"defaultValue": null,
					"allowableValues": null,
					"required": null,
					"sensitive": null,
					"dynamic": null,
					"supportsEl": null,
					"identifiesControllerService": null
				},
				"templateValue": null,
				"userEditable": true,
				"renderType": "text",
				"renderOptions": {},
				"selected": false,
				"inputProperty": true,
				"containsConfigurationVariables": false,
				"sensitive": false,
				"required": false,
				"templateProperty": null,
				"idKey": "12216503-0164-1000-01f0-607e82218f39-719e87ad-b373-38fe-6c85-31afdafa42f6-File Filter",
				"processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter",
				"nameKey": "NiFi Flow-Filesystem-File Filter",
				"renderWithCodeMirror": false,
				"displayValue": "mydata\\d{1,3}.csv",
				"formKey": "file_filterfilesystem"
			},
			{
				"processGroupName": "NiFi Flow",
				"processorName": "Filesystem",
				"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
				"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
				"processorType": "org.apache.nifi.processors.standard.GetFile",
				"key": "Path Filter",
				"value": null,
				"expressionProperties": null,
				"propertyDescriptor": {
					"name": "Path Filter",
					"displayName": "Path Filter",
					"description": "When Recurse Subdirectories is true, then only subdirectories whose path matches the given regular expression will be scanned",
					"defaultValue": null,
					"allowableValues": null,
					"required": false,
					"sensitive": false,
					"dynamic": false,
					"supportsEl": false,
					"identifiesControllerService": null
				},
				"templateValue": null,
				"userEditable": false,
				"renderType": null,
				"renderOptions": null,
				"selected": false,
				"inputProperty": true,
				"containsConfigurationVariables": false,
				"sensitive": false,
				"required": false,
				"templateProperty": null,
				"idKey": "12216503-0164-1000-01f0-607e82218f39-719e87ad-b373-38fe-6c85-31afdafa42f6-Path Filter",
				"processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Path Filter",
				"nameKey": "NiFi Flow-Filesystem-Path Filter",
				"renderWithCodeMirror": false,
				"displayValue": null
			},
			{
				"processGroupName": "NiFi Flow",
				"processorName": "Filesystem",
				"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
				"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
				"processorType": "org.apache.nifi.processors.standard.GetFile",
				"key": "Batch Size",
				"value": "100",
				"expressionProperties": null,
				"propertyDescriptor": {
					"name": "Batch Size",
					"displayName": "Batch Size",
					"description": "The maximum number of files to pull in each iteration",
					"defaultValue": "10",
					"allowableValues": null,
					"required": true,
					"sensitive": false,
					"dynamic": false,
					"supportsEl": false,
					"identifiesControllerService": null
				},
				"templateValue": null,
				"userEditable": false,
				"renderType": null,
				"renderOptions": null,
				"selected": false,
				"inputProperty": true,
				"containsConfigurationVariables": false,
				"sensitive": false,
				"required": true,
				"templateProperty": null,
				"idKey": "12216503-0164-1000-01f0-607e82218f39-719e87ad-b373-38fe-6c85-31afdafa42f6-Batch Size",
				"processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Batch Size",
				"nameKey": "NiFi Flow-Filesystem-Batch Size",
				"renderWithCodeMirror": false,
				"displayValue": "100"
			},
			{
				"processGroupName": "NiFi Flow",
				"processorName": "Filesystem",
				"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
				"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
				"processorType": "org.apache.nifi.processors.standard.GetFile",
				"key": "Keep Source File",
				"value": "false",
				"expressionProperties": null,
				"propertyDescriptor": {
					"name": "Keep Source File",
					"displayName": "Keep Source File",
					"description": "If true, the file is not deleted after it has been copied to the Content Repository; this causes the file to be picked up continually and is useful for testing purposes.  If not keeping original NiFi will need write permissions on the directory it is pulling from otherwise it will ignore the file.",
					"defaultValue": "false",
					"allowableValues": [
						{
							"displayName": "true",
							"value": "true",
							"description": null
						},
						{
							"displayName": "false",
							"value": "false",
							"description": null
						}
					],
					"required": true,
					"sensitive": false,
					"dynamic": false,
					"supportsEl": false,
					"identifiesControllerService": null
				},
				"templateValue": null,
				"userEditable": false,
				"renderType": null,
				"renderOptions": null,
				"selected": false,
				"inputProperty": true,
				"containsConfigurationVariables": false,
				"sensitive": false,
				"required": true,
				"templateProperty": null,
				"idKey": "12216503-0164-1000-01f0-607e82218f39-719e87ad-b373-38fe-6c85-31afdafa42f6-Keep Source File",
				"processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Keep Source File",
				"nameKey": "NiFi Flow-Filesystem-Keep Source File",
				"renderWithCodeMirror": false,
				"displayValue": "false"
			},
			{
				"processGroupName": "NiFi Flow",
				"processorName": "Filesystem",
				"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
				"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
				"processorType": "org.apache.nifi.processors.standard.GetFile",
				"key": "Recurse Subdirectories",
				"value": "false",
				"expressionProperties": null,
				"propertyDescriptor": {
					"name": "Recurse Subdirectories",
					"displayName": "Recurse Subdirectories",
					"description": "Indicates whether or not to pull files from subdirectories",
					"defaultValue": "true",
					"allowableValues": [
						{
							"displayName": "true",
							"value": "true",
							"description": null
						},
						{
							"displayName": "false",
							"value": "false",
							"description": null
						}
					],
					"required": true,
					"sensitive": false,
					"dynamic": false,
					"supportsEl": false,
					"identifiesControllerService": null
				},
				"templateValue": null,
				"userEditable": false,
				"renderType": null,
				"renderOptions": null,
				"selected": false,
				"inputProperty": true,
				"containsConfigurationVariables": false,
				"sensitive": false,
				"required": true,
				"templateProperty": null,
				"idKey": "12216503-0164-1000-01f0-607e82218f39-719e87ad-b373-38fe-6c85-31afdafa42f6-Recurse Subdirectories",
				"processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Recurse Subdirectories",
				"nameKey": "NiFi Flow-Filesystem-Recurse Subdirectories",
				"renderWithCodeMirror": false,
				"displayValue": "false"
			},
			{
				"processGroupName": "NiFi Flow",
				"processorName": "Filesystem",
				"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
				"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
				"processorType": "org.apache.nifi.processors.standard.GetFile",
				"key": "Polling Interval",
				"value": "0 sec",
				"expressionProperties": null,
				"propertyDescriptor": {
					"name": "Polling Interval",
					"displayName": "Polling Interval",
					"description": "Indicates how long to wait before performing a directory listing",
					"defaultValue": "0 sec",
					"allowableValues": null,
					"required": true,
					"sensitive": false,
					"dynamic": false,
					"supportsEl": false,
					"identifiesControllerService": null
				},
				"templateValue": null,
				"userEditable": false,
				"renderType": null,
				"renderOptions": null,
				"selected": false,
				"inputProperty": true,
				"containsConfigurationVariables": false,
				"sensitive": false,
				"required": true,
				"templateProperty": null,
				"idKey": "12216503-0164-1000-01f0-607e82218f39-719e87ad-b373-38fe-6c85-31afdafa42f6-Polling Interval",
				"processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Polling Interval",
				"nameKey": "NiFi Flow-Filesystem-Polling Interval",
				"renderWithCodeMirror": false,
				"displayValue": "0 sec"
			},
			{
				"processGroupName": "NiFi Flow",
				"processorName": "Filesystem",
				"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
				"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
				"processorType": "org.apache.nifi.processors.standard.GetFile",
				"key": "Ignore Hidden Files",
				"value": "true",
				"expressionProperties": null,
				"propertyDescriptor": {
					"name": "Ignore Hidden Files",
					"displayName": "Ignore Hidden Files",
					"description": "Indicates whether or not hidden files should be ignored",
					"defaultValue": "true",
					"allowableValues": [
						{
							"displayName": "true",
							"value": "true",
							"description": null
						},
						{
							"displayName": "false",
							"value": "false",
							"description": null
						}
					],
					"required": true,
					"sensitive": false,
					"dynamic": false,
					"supportsEl": false,
					"identifiesControllerService": null
				},
				"templateValue": null,
				"userEditable": false,
				"renderType": null,
				"renderOptions": null,
				"selected": false,
				"inputProperty": true,
				"containsConfigurationVariables": false,
				"sensitive": false,
				"required": true,
				"templateProperty": null,
				"idKey": "12216503-0164-1000-01f0-607e82218f39-719e87ad-b373-38fe-6c85-31afdafa42f6-Ignore Hidden Files",
				"processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Ignore Hidden Files",
				"nameKey": "NiFi Flow-Filesystem-Ignore Hidden Files",
				"renderWithCodeMirror": false,
				"displayValue": "true"
			},
			{
				"processGroupName": "NiFi Flow",
				"processorName": "Filesystem",
				"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
				"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
				"processorType": "org.apache.nifi.processors.standard.GetFile",
				"key": "Minimum File Age",
				"value": "0 sec",
				"expressionProperties": null,
				"propertyDescriptor": {
					"name": "Minimum File Age",
					"displayName": "Minimum File Age",
					"description": "The minimum age that a file must be in order to be pulled; any file younger than this amount of time (according to last modification date) will be ignored",
					"defaultValue": "0 sec",
					"allowableValues": null,
					"required": true,
					"sensitive": false,
					"dynamic": false,
					"supportsEl": false,
					"identifiesControllerService": null
				},
				"templateValue": null,
				"userEditable": false,
				"renderType": null,
				"renderOptions": null,
				"selected": false,
				"inputProperty": true,
				"containsConfigurationVariables": false,
				"sensitive": false,
				"required": true,
				"templateProperty": null,
				"idKey": "12216503-0164-1000-01f0-607e82218f39-719e87ad-b373-38fe-6c85-31afdafa42f6-Minimum File Age",
				"processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Minimum File Age",
				"nameKey": "NiFi Flow-Filesystem-Minimum File Age",
				"renderWithCodeMirror": false,
				"displayValue": "0 sec"
			},
			{
				"processGroupName": "NiFi Flow",
				"processorName": "Filesystem",
				"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
				"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
				"processorType": "org.apache.nifi.processors.standard.GetFile",
				"key": "Maximum File Age",
				"value": null,
				"expressionProperties": null,
				"propertyDescriptor": {
					"name": "Maximum File Age",
					"displayName": "Maximum File Age",
					"description": "The maximum age that a file must be in order to be pulled; any file older than this amount of time (according to last modification date) will be ignored",
					"defaultValue": null,
					"allowableValues": null,
					"required": false,
					"sensitive": false,
					"dynamic": false,
					"supportsEl": false,
					"identifiesControllerService": null
				},
				"templateValue": null,
				"userEditable": false,
				"renderType": null,
				"renderOptions": null,
				"selected": false,
				"inputProperty": true,
				"containsConfigurationVariables": false,
				"sensitive": false,
				"required": false,
				"templateProperty": null,
				"idKey": "12216503-0164-1000-01f0-607e82218f39-719e87ad-b373-38fe-6c85-31afdafa42f6-Maximum File Age",
				"processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Maximum File Age",
				"nameKey": "NiFi Flow-Filesystem-Maximum File Age",
				"renderWithCodeMirror": false,
				"displayValue": null
			},
			{
				"processGroupName": "NiFi Flow",
				"processorName": "Filesystem",
				"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
				"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
				"processorType": "org.apache.nifi.processors.standard.GetFile",
				"key": "Minimum File Size",
				"value": "0 B",
				"expressionProperties": null,
				"propertyDescriptor": {
					"name": "Minimum File Size",
					"displayName": "Minimum File Size",
					"description": "The minimum size that a file must be in order to be pulled",
					"defaultValue": "0 B",
					"allowableValues": null,
					"required": true,
					"sensitive": false,
					"dynamic": false,
					"supportsEl": false,
					"identifiesControllerService": null
				},
				"templateValue": null,
				"userEditable": false,
				"renderType": null,
				"renderOptions": null,
				"selected": false,
				"inputProperty": true,
				"containsConfigurationVariables": false,
				"sensitive": false,
				"required": true,
				"templateProperty": null,
				"idKey": "12216503-0164-1000-01f0-607e82218f39-719e87ad-b373-38fe-6c85-31afdafa42f6-Minimum File Size",
				"processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Minimum File Size",
				"nameKey": "NiFi Flow-Filesystem-Minimum File Size",
				"renderWithCodeMirror": false,
				"displayValue": "0 B"
			},
			{
				"processGroupName": "NiFi Flow",
				"processorName": "Filesystem",
				"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
				"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
				"processorType": "org.apache.nifi.processors.standard.GetFile",
				"key": "Maximum File Size",
				"value": null,
				"expressionProperties": null,
				"propertyDescriptor": {
					"name": "Maximum File Size",
					"displayName": "Maximum File Size",
					"description": "The maximum size that a file can be in order to be pulled",
					"defaultValue": null,
					"allowableValues": null,
					"required": false,
					"sensitive": false,
					"dynamic": false,
					"supportsEl": false,
					"identifiesControllerService": null
				},
				"templateValue": null,
				"userEditable": false,
				"renderType": null,
				"renderOptions": null,
				"selected": false,
				"inputProperty": true,
				"containsConfigurationVariables": false,
				"sensitive": false,
				"required": false,
				"templateProperty": null,
				"idKey": "12216503-0164-1000-01f0-607e82218f39-719e87ad-b373-38fe-6c85-31afdafa42f6-Maximum File Size",
				"processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Maximum File Size",
				"nameKey": "NiFi Flow-Filesystem-Maximum File Size",
				"renderWithCodeMirror": false,
				"displayValue": null
			}
		],
		"sortIndex": 1
	},
	"nonInputProcessors": [
		{
			"properties": [
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "Source Database Connection",
					"value": "",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "Source Database Connection",
						"displayName": null,
						"description": null,
						"defaultValue": null,
						"allowableValues": [
							{
								"displayName": "Kylo MySQL",
								"value": "9d2a90ff-736e-3584-37c0-07f352d921d3"
							},
							{
								"displayName": "Kylo MySQL",
								"value": "23bb86f3-0160-1000-eb6d-7826d34935ca"
							}
						],
						"required": null,
						"sensitive": null,
						"dynamic": null,
						"supportsEl": null,
						"identifiesControllerService": "org.apache.nifi.dbcp.DBCPService"
					},
					"templateValue": null,
					"userEditable": true,
					"renderType": "select",
					"renderOptions": {},
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": false,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Source Database Connection",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Database Connection",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-Source Database Connection",
					"renderWithCodeMirror": false,
					"displayValue": "",
					"isLoading": false,
					"formKey": "source_database_connectionfetch_rdbms_data"
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "Load Strategy",
					"value": "FULL_LOAD",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "Load Strategy",
						"displayName": null,
						"description": null,
						"defaultValue": null,
						"allowableValues": null,
						"required": null,
						"sensitive": null,
						"dynamic": null,
						"supportsEl": null,
						"identifiesControllerService": null
					},
					"templateValue": null,
					"userEditable": true,
					"renderType": "text",
					"renderOptions": {},
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": false,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Load Strategy",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Load Strategy",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-Load Strategy",
					"renderWithCodeMirror": false,
					"displayValue": "FULL_LOAD"
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "Date Field",
					"value": null,
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "Date Field",
						"displayName": null,
						"description": null,
						"defaultValue": null,
						"allowableValues": null,
						"required": null,
						"sensitive": null,
						"dynamic": null,
						"supportsEl": null,
						"identifiesControllerService": null
					},
					"templateValue": null,
					"userEditable": true,
					"renderType": "text",
					"renderOptions": {},
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": false,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Date Field",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Date Field",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-Date Field",
					"renderWithCodeMirror": false,
					"displayValue": null
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "Output Type",
					"value": "DELIMITED",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "Output Type",
						"displayName": "Output Type",
						"description": "How should the results be returned.  Either a Delimited output such as CSV, or AVRO.  If delimited you must specify the delimiter.",
						"defaultValue": "DELIMITED",
						"allowableValues": [
							{
								"displayName": "DELIMITED",
								"value": "DELIMITED",
								"description": null
							},
							{
								"displayName": "AVRO",
								"value": "AVRO",
								"description": null
							}
						],
						"required": true,
						"sensitive": false,
						"dynamic": false,
						"supportsEl": false,
						"identifiesControllerService": null
					},
					"templateValue": null,
					"userEditable": true,
					"renderType": "select",
					"renderOptions": {},
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": true,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Output Type",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Output Type",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-Output Type",
					"renderWithCodeMirror": false,
					"displayValue": "DELIMITED",
					"formKey": "output_typefetch_rdbms_data"
				}
			],
			"type": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
			"name": "Fetch RDBMS Data",
			"id": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
			"groupName": "NiFi Flow",
			"groupId": "12216503-0164-1000-01f0-607e82218f39",
			"inputProcessor": false,
			"userDefinedInputProcessor": false,
			"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
			"userEditable": false,
			"feedPropertiesUrl": "js/plugin/processor-templates/GetTableData/get-table-data-create.html",
			"allProperties": [
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "Source Database Connection",
					"value": "",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "Source Database Connection",
						"displayName": null,
						"description": null,
						"defaultValue": null,
						"allowableValues": [
							{
								"displayName": "Kylo MySQL",
								"value": "9d2a90ff-736e-3584-37c0-07f352d921d3"
							},
							{
								"displayName": "Kylo MySQL",
								"value": "23bb86f3-0160-1000-eb6d-7826d34935ca"
							}
						],
						"required": null,
						"sensitive": null,
						"dynamic": null,
						"supportsEl": null,
						"identifiesControllerService": "org.apache.nifi.dbcp.DBCPService"
					},
					"templateValue": null,
					"userEditable": true,
					"renderType": "select",
					"renderOptions": {},
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": false,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Source Database Connection",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Database Connection",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-Source Database Connection",
					"renderWithCodeMirror": false,
					"displayValue": "",
					"isLoading": false,
					"formKey": "source_database_connectionfetch_rdbms_data"
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "Metadata Service",
					"value": "8cdd51c3-3443-31e1-8bdf-fbc8a7ade5cb",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "Metadata Service",
						"displayName": "Metadata Service",
						"description": "Think Big metadata service",
						"defaultValue": null,
						"allowableValues": [
							{
								"displayName": "Kylo Metadata Service",
								"value": "23bb55b5-0160-1000-7c87-4ae43cc40814",
								"description": null
							},
							{
								"displayName": "Kylo Metadata Service",
								"value": "8cdd51c3-3443-31e1-8bdf-fbc8a7ade5cb",
								"description": null
							},
							{
								"displayName": "Kylo Metadata Service",
								"value": "8cdd51c3-3443-31e1-e0df-a219d78d4d31",
								"description": null
							}
						],
						"required": true,
						"sensitive": false,
						"dynamic": false,
						"supportsEl": false,
						"identifiesControllerService": "com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService"
					},
					"templateValue": null,
					"userEditable": false,
					"renderType": null,
					"renderOptions": null,
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": true,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Metadata Service",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Metadata Service",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-Metadata Service",
					"renderWithCodeMirror": false,
					"displayValue": "8cdd51c3-3443-31e1-8bdf-fbc8a7ade5cb"
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "System feed category",
					"value": "${metadata.category.systemName}",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "System feed category",
						"displayName": null,
						"description": null,
						"defaultValue": null,
						"allowableValues": null,
						"required": null,
						"sensitive": null,
						"dynamic": null,
						"supportsEl": null,
						"identifiesControllerService": null
					},
					"templateValue": null,
					"userEditable": false,
					"renderType": "text",
					"renderOptions": {},
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": false,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-System feed category",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-System feed category",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-System feed category",
					"renderWithCodeMirror": false,
					"displayValue": "${metadata.category.systemName}"
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "System feed name",
					"value": "${metadata.systemFeedName}",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "System feed name",
						"displayName": null,
						"description": null,
						"defaultValue": null,
						"allowableValues": null,
						"required": null,
						"sensitive": null,
						"dynamic": null,
						"supportsEl": null,
						"identifiesControllerService": null
					},
					"templateValue": null,
					"userEditable": false,
					"renderType": "text",
					"renderOptions": {},
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": false,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-System feed name",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-System feed name",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-System feed name",
					"renderWithCodeMirror": false,
					"displayValue": "${metadata.systemFeedName}"
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "Source Table",
					"value": "${metadata.table.sourceTableSchema.name}",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "Source Table",
						"displayName": null,
						"description": null,
						"defaultValue": null,
						"allowableValues": null,
						"required": null,
						"sensitive": null,
						"dynamic": null,
						"supportsEl": null,
						"identifiesControllerService": null
					},
					"templateValue": null,
					"userEditable": false,
					"renderType": "select",
					"renderOptions": {},
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": false,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Source Table",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Table",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-Source Table",
					"renderWithCodeMirror": false,
					"displayValue": "${metadata.table.sourceTableSchema.name}"
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "Source Fields",
					"value": "${metadata.table.sourceFields}",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "Source Fields",
						"displayName": null,
						"description": null,
						"defaultValue": null,
						"allowableValues": null,
						"required": null,
						"sensitive": null,
						"dynamic": null,
						"supportsEl": null,
						"identifiesControllerService": null
					},
					"templateValue": null,
					"userEditable": false,
					"renderType": "text",
					"renderOptions": {},
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": false,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Source Fields",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Fields",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-Source Fields",
					"renderWithCodeMirror": false,
					"displayValue": "${metadata.table.sourceFields}"
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "Load Strategy",
					"value": "FULL_LOAD",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "Load Strategy",
						"displayName": null,
						"description": null,
						"defaultValue": null,
						"allowableValues": null,
						"required": null,
						"sensitive": null,
						"dynamic": null,
						"supportsEl": null,
						"identifiesControllerService": null
					},
					"templateValue": null,
					"userEditable": true,
					"renderType": "text",
					"renderOptions": {},
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": false,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Load Strategy",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Load Strategy",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-Load Strategy",
					"renderWithCodeMirror": false,
					"displayValue": "FULL_LOAD"
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "High-Water Mark Property Name",
					"value": "water.mark",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "High-Water Mark Property Name",
						"displayName": "High-Water Mark Property Name",
						"description": "Name of the flow file attribute that should contain the current hig-water mark date, and which this processor will update with new values.  Required if the load strategy is set to INCREMENTAL.",
						"defaultValue": "high.water.date",
						"allowableValues": null,
						"required": false,
						"sensitive": false,
						"dynamic": false,
						"supportsEl": true,
						"identifiesControllerService": null
					},
					"templateValue": null,
					"userEditable": false,
					"renderType": null,
					"renderOptions": null,
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": false,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-High-Water Mark Property Name",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-High-Water Mark Property Name",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-High-Water Mark Property Name",
					"renderWithCodeMirror": false,
					"displayValue": "water.mark"
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "Date Field",
					"value": null,
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "Date Field",
						"displayName": null,
						"description": null,
						"defaultValue": null,
						"allowableValues": null,
						"required": null,
						"sensitive": null,
						"dynamic": null,
						"supportsEl": null,
						"identifiesControllerService": null
					},
					"templateValue": null,
					"userEditable": true,
					"renderType": "text",
					"renderOptions": {},
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": false,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Date Field",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Date Field",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-Date Field",
					"renderWithCodeMirror": false,
					"displayValue": null
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "Overlap Period",
					"value": "300 seconds",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "Overlap Period",
						"displayName": "Overlap Period",
						"description": "Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: >0s",
						"defaultValue": "0 seconds",
						"allowableValues": null,
						"required": false,
						"sensitive": false,
						"dynamic": false,
						"supportsEl": true,
						"identifiesControllerService": null
					},
					"templateValue": null,
					"userEditable": false,
					"renderType": null,
					"renderOptions": null,
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": false,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Overlap Period",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Overlap Period",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-Overlap Period",
					"renderWithCodeMirror": false,
					"displayValue": "300 seconds"
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "Max Wait Time",
					"value": "0 seconds",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "Max Wait Time",
						"displayName": "Max Wait Time",
						"description": "The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.",
						"defaultValue": "0 seconds",
						"allowableValues": null,
						"required": true,
						"sensitive": false,
						"dynamic": false,
						"supportsEl": false,
						"identifiesControllerService": null
					},
					"templateValue": null,
					"userEditable": false,
					"renderType": null,
					"renderOptions": null,
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": true,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Max Wait Time",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Max Wait Time",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-Max Wait Time",
					"renderWithCodeMirror": false,
					"displayValue": "0 seconds"
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "Backoff Period",
					"value": "300 seconds",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "Backoff Period",
						"displayName": "Backoff Period",
						"description": "Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: >5m",
						"defaultValue": "300 seconds",
						"allowableValues": null,
						"required": true,
						"sensitive": false,
						"dynamic": false,
						"supportsEl": false,
						"identifiesControllerService": null
					},
					"templateValue": null,
					"userEditable": false,
					"renderType": null,
					"renderOptions": null,
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": true,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Backoff Period",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Backoff Period",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-Backoff Period",
					"renderWithCodeMirror": false,
					"displayValue": "300 seconds"
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "Minimum Time Unit",
					"value": "NONE",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "Minimum Time Unit",
						"displayName": "Minimum Time Unit",
						"description": "The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.",
						"defaultValue": "NONE",
						"allowableValues": [
							{
								"displayName": "NONE",
								"value": "NONE",
								"description": null
							},
							{
								"displayName": "HOUR",
								"value": "HOUR",
								"description": null
							},
							{
								"displayName": "DAY",
								"value": "DAY",
								"description": null
							},
							{
								"displayName": "WEEK",
								"value": "WEEK",
								"description": null
							},
							{
								"displayName": "MONTH",
								"value": "MONTH",
								"description": null
							},
							{
								"displayName": "YEAR",
								"value": "YEAR",
								"description": null
							}
						],
						"required": true,
						"sensitive": false,
						"dynamic": false,
						"supportsEl": false,
						"identifiesControllerService": null
					},
					"templateValue": null,
					"userEditable": false,
					"renderType": null,
					"renderOptions": null,
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": true,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Minimum Time Unit",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Minimum Time Unit",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-Minimum Time Unit",
					"renderWithCodeMirror": false,
					"displayValue": "NONE"
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "Output Type",
					"value": "DELIMITED",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "Output Type",
						"displayName": "Output Type",
						"description": "How should the results be returned.  Either a Delimited output such as CSV, or AVRO.  If delimited you must specify the delimiter.",
						"defaultValue": "DELIMITED",
						"allowableValues": [
							{
								"displayName": "DELIMITED",
								"value": "DELIMITED",
								"description": null
							},
							{
								"displayName": "AVRO",
								"value": "AVRO",
								"description": null
							}
						],
						"required": true,
						"sensitive": false,
						"dynamic": false,
						"supportsEl": false,
						"identifiesControllerService": null
					},
					"templateValue": null,
					"userEditable": true,
					"renderType": "select",
					"renderOptions": {},
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": true,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Output Type",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Output Type",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-Output Type",
					"renderWithCodeMirror": false,
					"displayValue": "DELIMITED",
					"formKey": "output_typefetch_rdbms_data"
				},
				{
					"processGroupName": "NiFi Flow",
					"processorName": "Fetch RDBMS Data",
					"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
					"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
					"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
					"key": "Output Delimiter",
					"value": ",",
					"expressionProperties": null,
					"propertyDescriptor": {
						"name": "Output Delimiter",
						"displayName": "Output Delimiter",
						"description": "Used only if the Output Type is 'Delimited'.  If this is empty and the Output Type is delimited it will default to a ','.  This property is not used if the Output Type is AVRO.",
						"defaultValue": ",",
						"allowableValues": null,
						"required": false,
						"sensitive": false,
						"dynamic": false,
						"supportsEl": true,
						"identifiesControllerService": null
					},
					"templateValue": null,
					"userEditable": false,
					"renderType": null,
					"renderOptions": null,
					"selected": false,
					"inputProperty": false,
					"containsConfigurationVariables": false,
					"sensitive": false,
					"required": false,
					"templateProperty": null,
					"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Output Delimiter",
					"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Output Delimiter",
					"nameKey": "NiFi Flow-Fetch RDBMS Data-Output Delimiter",
					"renderWithCodeMirror": false,
					"displayValue": ","
				}
			],
			"sortIndex": 0
		}
	],
	"properties": [
		{
			"processGroupName": "NiFi Flow",
			"processorName": "Filesystem",
			"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
			"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
			"processorType": "org.apache.nifi.processors.standard.GetFile",
			"key": "Input Directory",
			"value": "/var/dropzone",
			"expressionProperties": null,
			"propertyDescriptor": {
				"name": "Input Directory",
				"displayName": null,
				"description": null,
				"defaultValue": null,
				"allowableValues": null,
				"required": null,
				"sensitive": null,
				"dynamic": null,
				"supportsEl": null,
				"identifiesControllerService": null
			},
			"templateValue": null,
			"userEditable": true,
			"renderType": "text",
			"renderOptions": {},
			"selected": false,
			"inputProperty": true,
			"containsConfigurationVariables": false,
			"sensitive": false,
			"required": false,
			"templateProperty": null,
			"idKey": "12216503-0164-1000-01f0-607e82218f39-719e87ad-b373-38fe-6c85-31afdafa42f6-Input Directory",
			"processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory",
			"nameKey": "NiFi Flow-Filesystem-Input Directory",
			"renderWithCodeMirror": false,
			"displayValue": "/var/dropzone",
			"formKey": "input_directoryfilesystem"
		},
		{
			"processGroupName": "NiFi Flow",
			"processorName": "Filesystem",
			"processorId": "719e87ad-b373-38fe-6c85-31afdafa42f6",
			"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
			"processorType": "org.apache.nifi.processors.standard.GetFile",
			"key": "File Filter",
			"value": "mydata\\d{1,3}.csv",
			"expressionProperties": null,
			"propertyDescriptor": {
				"name": "File Filter",
				"displayName": null,
				"description": null,
				"defaultValue": null,
				"allowableValues": null,
				"required": null,
				"sensitive": null,
				"dynamic": null,
				"supportsEl": null,
				"identifiesControllerService": null
			},
			"templateValue": null,
			"userEditable": true,
			"renderType": "text",
			"renderOptions": {},
			"selected": false,
			"inputProperty": true,
			"containsConfigurationVariables": false,
			"sensitive": false,
			"required": false,
			"templateProperty": null,
			"idKey": "12216503-0164-1000-01f0-607e82218f39-719e87ad-b373-38fe-6c85-31afdafa42f6-File Filter",
			"processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter",
			"nameKey": "NiFi Flow-Filesystem-File Filter",
			"renderWithCodeMirror": false,
			"displayValue": "mydata\\d{1,3}.csv",
			"formKey": "file_filterfilesystem"
		},
		{
			"processGroupName": "NiFi Flow",
			"processorName": "Fetch RDBMS Data",
			"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
			"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
			"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
			"key": "Source Database Connection",
			"value": "",
			"expressionProperties": null,
			"propertyDescriptor": {
				"name": "Source Database Connection",
				"displayName": null,
				"description": null,
				"defaultValue": null,
				"allowableValues": [
					{
						"displayName": "Kylo MySQL",
						"value": "9d2a90ff-736e-3584-37c0-07f352d921d3"
					},
					{
						"displayName": "Kylo MySQL",
						"value": "23bb86f3-0160-1000-eb6d-7826d34935ca"
					}
				],
				"required": null,
				"sensitive": null,
				"dynamic": null,
				"supportsEl": null,
				"identifiesControllerService": "org.apache.nifi.dbcp.DBCPService"
			},
			"templateValue": null,
			"userEditable": true,
			"renderType": "select",
			"renderOptions": {},
			"selected": false,
			"inputProperty": false,
			"containsConfigurationVariables": false,
			"sensitive": false,
			"required": false,
			"templateProperty": null,
			"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Source Database Connection",
			"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Database Connection",
			"nameKey": "NiFi Flow-Fetch RDBMS Data-Source Database Connection",
			"renderWithCodeMirror": false,
			"displayValue": "",
			"isLoading": false,
			"formKey": "source_database_connectionfetch_rdbms_data"
		},
		{
			"processGroupName": "NiFi Flow",
			"processorName": "Fetch RDBMS Data",
			"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
			"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
			"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
			"key": "Load Strategy",
			"value": "FULL_LOAD",
			"expressionProperties": null,
			"propertyDescriptor": {
				"name": "Load Strategy",
				"displayName": null,
				"description": null,
				"defaultValue": null,
				"allowableValues": null,
				"required": null,
				"sensitive": null,
				"dynamic": null,
				"supportsEl": null,
				"identifiesControllerService": null
			},
			"templateValue": null,
			"userEditable": true,
			"renderType": "text",
			"renderOptions": {},
			"selected": false,
			"inputProperty": false,
			"containsConfigurationVariables": false,
			"sensitive": false,
			"required": false,
			"templateProperty": null,
			"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Load Strategy",
			"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Load Strategy",
			"nameKey": "NiFi Flow-Fetch RDBMS Data-Load Strategy",
			"renderWithCodeMirror": false,
			"displayValue": "FULL_LOAD"
		},
		{
			"processGroupName": "NiFi Flow",
			"processorName": "Fetch RDBMS Data",
			"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
			"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
			"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
			"key": "Date Field",
			"value": null,
			"expressionProperties": null,
			"propertyDescriptor": {
				"name": "Date Field",
				"displayName": null,
				"description": null,
				"defaultValue": null,
				"allowableValues": null,
				"required": null,
				"sensitive": null,
				"dynamic": null,
				"supportsEl": null,
				"identifiesControllerService": null
			},
			"templateValue": null,
			"userEditable": true,
			"renderType": "text",
			"renderOptions": {},
			"selected": false,
			"inputProperty": false,
			"containsConfigurationVariables": false,
			"sensitive": false,
			"required": false,
			"templateProperty": null,
			"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Date Field",
			"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Date Field",
			"nameKey": "NiFi Flow-Fetch RDBMS Data-Date Field",
			"renderWithCodeMirror": false,
			"displayValue": null
		},
		{
			"processGroupName": "NiFi Flow",
			"processorName": "Fetch RDBMS Data",
			"processorId": "a3eb6450-1f53-3e1e-bcb1-5e14078e7e22",
			"processGroupId": "12216503-0164-1000-01f0-607e82218f39",
			"processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
			"key": "Output Type",
			"value": "DELIMITED",
			"expressionProperties": null,
			"propertyDescriptor": {
				"name": "Output Type",
				"displayName": "Output Type",
				"description": "How should the results be returned.  Either a Delimited output such as CSV, or AVRO.  If delimited you must specify the delimiter.",
				"defaultValue": "DELIMITED",
				"allowableValues": [
					{
						"displayName": "DELIMITED",
						"value": "DELIMITED",
						"description": null
					},
					{
						"displayName": "AVRO",
						"value": "AVRO",
						"description": null
					}
				],
				"required": true,
				"sensitive": false,
				"dynamic": false,
				"supportsEl": false,
				"identifiesControllerService": null
			},
			"templateValue": null,
			"userEditable": true,
			"renderType": "select",
			"renderOptions": {},
			"selected": false,
			"inputProperty": false,
			"containsConfigurationVariables": false,
			"sensitive": false,
			"required": true,
			"templateProperty": null,
			"idKey": "12216503-0164-1000-01f0-607e82218f39-a3eb6450-1f53-3e1e-bcb1-5e14078e7e22-Output Type",
			"processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Output Type",
			"nameKey": "NiFi Flow-Fetch RDBMS Data-Output Type",
			"renderWithCodeMirror": false,
			"displayValue": "DELIMITED",
			"formKey": "output_typefetch_rdbms_data"
		}
	],
	"securityGroups": [],
	"schedule": {
		"schedulingPeriod": "5 min",
		"schedulingStrategy": "TIMER_DRIVEN",
		"concurrentTasks": 1,
		"schedulingStrategyTouched": true
	},
	"defineTable": true,
	"allowPreconditions": false,
	"dataTransformationFeed": false,
	"table": {
		"tableSchema": {
			"name": "file_system",
			"fields": [
				{
					"name": "registration_dttm",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"2016-02-03T13:36:39Z",
						"2016-02-03T00:22:28Z",
						"2016-02-03T18:29:04Z",
						"2016-02-03T13:42:19Z",
						"2016-02-03T00:15:29Z",
						"2016-02-03T10:49:07Z",
						"2016-02-03T19:44:12Z",
						"2016-02-03T08:11:34Z",
						"2016-02-03T23:56:51Z"
					],
					"selectedSampleValue": "2016-02-03T13:36:39Z",
					"tags": null,
					"_id": "1",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "registration_dttm",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "registration_dttm",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "id",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"1",
						"2",
						"3",
						"4",
						"5",
						"6",
						"7b",
						"8",
						"9"
					],
					"selectedSampleValue": "1",
					"tags": null,
					"_id": "3",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "id",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "id",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "first_name",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Donald",
						"Walter",
						"Michelle",
						"Lori",
						"Howard",
						"Frances",
						"Steven",
						"Louis",
						"Keith"
					],
					"selectedSampleValue": "Donald",
					"tags": null,
					"_id": "5",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "first_name",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "first_name",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "last_name",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Lewis",
						"Collins",
						"Henderson",
						"Hudson",
						"Miller",
						"Adams",
						"Hanson",
						"Simmons",
						"Parker"
					],
					"selectedSampleValue": "Lewis",
					"tags": null,
					"_id": "7",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "last_name",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "last_name",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "email",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"dlewis0@clickbank.net",
						"wcollins1@bloglovin.com",
						"mhenderson2@geocities.jp",
						"lhudson3@dion.ne.jp",
						"hmiller4@fema.gov",
						"fadams5@123-reg.co.uk",
						"shanson6@cisco.com",
						"lsimmons7@icio.us",
						"kparker8@amazonaws.com"
					],
					"selectedSampleValue": "dlewis0@clickbank.net",
					"tags": null,
					"_id": "9",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "email",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "email",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "gender",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Male",
						"Male",
						"Female",
						"",
						"Male",
						"Female",
						"Male",
						"Male",
						"Male"
					],
					"selectedSampleValue": "Male",
					"tags": null,
					"_id": "11",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "gender",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "gender",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "ip_address",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"102.22.124.20",
						"247.28.26.93",
						"193.68.146.150",
						"34.252.168.48",
						"103.193.150.230",
						"106.196.106.93",
						"234.130.172.185",
						"18.69.80.15",
						"108.205.40.64"
					],
					"selectedSampleValue": "102.22.124.20",
					"tags": null,
					"_id": "13",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "ip_address",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "ip_address",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "cc",
					"description": "",
					"derivedDataType": "double",
					"precisionScale": null,
					"dataTypeDisplay": "double",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"",
						"3587726269478025",
						"",
						"3568840151595649",
						"3583473261055014",
						"",
						"3550842607768119",
						"",
						""
					],
					"selectedSampleValue": "",
					"tags": null,
					"_id": "15",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": true
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "double",
					"origName": "cc",
					"origDataType": "double",
					"deleted": false,
					"history": [
						{
							"name": "cc",
							"derivedDataType": "double",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "country",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Indonesia",
						"China",
						"France",
						"Russia",
						"France",
						"Russia",
						"Indonesia",
						"China",
						"Guadeloupe"
					],
					"selectedSampleValue": "Indonesia",
					"tags": null,
					"_id": "17",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "country",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "country",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "birthdate",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"7/9/1972",
						"",
						"1/15/1964",
						"4/22/1988",
						"11/26/1998",
						"3/27/1997",
						"",
						"6/1/1992",
						"12/30/1992"
					],
					"selectedSampleValue": "7/9/1972",
					"tags": null,
					"_id": "19",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "birthdate",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "birthdate",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "salary",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"140249.37",
						"$9.28",
						"236219.26",
						"",
						"50210.02",
						"82175.77",
						"129582.61",
						"90744.86",
						"60618.9"
					],
					"selectedSampleValue": "140249.37",
					"tags": null,
					"_id": "21",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "salary",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "salary",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "title",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Senior Financial Analyst",
						"",
						"Teacher",
						"Nuclear Power Engineer",
						"Senior Editor",
						"Account Coordinator",
						"",
						"Product Engineer",
						"Developer II"
					],
					"selectedSampleValue": "Senior Financial Analyst",
					"tags": null,
					"_id": "23",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "title",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "title",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "comments",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"",
						"",
						"",
						"",
						"",
						"",
						"",
						"",
						""
					],
					"selectedSampleValue": "",
					"tags": null,
					"_id": "25",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "comments",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "comments",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				}
			]
		},
		"sourceTableSchema": {
			"name": null,
			"tableSchema": null,
			"fields": [
				{
					"name": "registration_dttm",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"2016-02-03T13:36:39Z",
						"2016-02-03T00:22:28Z",
						"2016-02-03T18:29:04Z",
						"2016-02-03T13:42:19Z",
						"2016-02-03T00:15:29Z",
						"2016-02-03T10:49:07Z",
						"2016-02-03T19:44:12Z",
						"2016-02-03T08:11:34Z",
						"2016-02-03T23:56:51Z"
					],
					"selectedSampleValue": "2016-02-03T13:36:39Z",
					"tags": null,
					"_id": "1",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "registration_dttm",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "registration_dttm",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "id",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"1",
						"2",
						"3",
						"4",
						"5",
						"6",
						"7b",
						"8",
						"9"
					],
					"selectedSampleValue": "1",
					"tags": null,
					"_id": "3",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "id",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "id",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "first_name",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Donald",
						"Walter",
						"Michelle",
						"Lori",
						"Howard",
						"Frances",
						"Steven",
						"Louis",
						"Keith"
					],
					"selectedSampleValue": "Donald",
					"tags": null,
					"_id": "5",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "first_name",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "first_name",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "last_name",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Lewis",
						"Collins",
						"Henderson",
						"Hudson",
						"Miller",
						"Adams",
						"Hanson",
						"Simmons",
						"Parker"
					],
					"selectedSampleValue": "Lewis",
					"tags": null,
					"_id": "7",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "last_name",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "last_name",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "email",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"dlewis0@clickbank.net",
						"wcollins1@bloglovin.com",
						"mhenderson2@geocities.jp",
						"lhudson3@dion.ne.jp",
						"hmiller4@fema.gov",
						"fadams5@123-reg.co.uk",
						"shanson6@cisco.com",
						"lsimmons7@icio.us",
						"kparker8@amazonaws.com"
					],
					"selectedSampleValue": "dlewis0@clickbank.net",
					"tags": null,
					"_id": "9",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "email",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "email",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "gender",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Male",
						"Male",
						"Female",
						"",
						"Male",
						"Female",
						"Male",
						"Male",
						"Male"
					],
					"selectedSampleValue": "Male",
					"tags": null,
					"_id": "11",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "gender",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "gender",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "ip_address",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"102.22.124.20",
						"247.28.26.93",
						"193.68.146.150",
						"34.252.168.48",
						"103.193.150.230",
						"106.196.106.93",
						"234.130.172.185",
						"18.69.80.15",
						"108.205.40.64"
					],
					"selectedSampleValue": "102.22.124.20",
					"tags": null,
					"_id": "13",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "ip_address",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "ip_address",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "cc",
					"description": "",
					"derivedDataType": "double",
					"precisionScale": null,
					"dataTypeDisplay": "double",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"",
						"3587726269478025",
						"",
						"3568840151595649",
						"3583473261055014",
						"",
						"3550842607768119",
						"",
						""
					],
					"selectedSampleValue": "",
					"tags": null,
					"_id": "15",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": true
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "double",
					"origName": "cc",
					"origDataType": "double",
					"deleted": false,
					"history": [
						{
							"name": "cc",
							"derivedDataType": "double",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "country",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Indonesia",
						"China",
						"France",
						"Russia",
						"France",
						"Russia",
						"Indonesia",
						"China",
						"Guadeloupe"
					],
					"selectedSampleValue": "Indonesia",
					"tags": null,
					"_id": "17",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "country",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "country",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "birthdate",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"7/9/1972",
						"",
						"1/15/1964",
						"4/22/1988",
						"11/26/1998",
						"3/27/1997",
						"",
						"6/1/1992",
						"12/30/1992"
					],
					"selectedSampleValue": "7/9/1972",
					"tags": null,
					"_id": "19",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "birthdate",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "birthdate",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "salary",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"140249.37",
						"$9.28",
						"236219.26",
						"",
						"50210.02",
						"82175.77",
						"129582.61",
						"90744.86",
						"60618.9"
					],
					"selectedSampleValue": "140249.37",
					"tags": null,
					"_id": "21",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "salary",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "salary",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "title",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Senior Financial Analyst",
						"",
						"Teacher",
						"Nuclear Power Engineer",
						"Senior Editor",
						"Account Coordinator",
						"",
						"Product Engineer",
						"Developer II"
					],
					"selectedSampleValue": "Senior Financial Analyst",
					"tags": null,
					"_id": "23",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "title",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "title",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "comments",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"",
						"",
						"",
						"",
						"",
						"",
						"",
						"",
						""
					],
					"selectedSampleValue": "",
					"tags": null,
					"_id": "25",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "comments",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "comments",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				}
			]
		},
		"feedTableSchema": {
			"name": null,
			"fields": [
				{
					"name": "registration_dttm",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"2016-02-03T13:36:39Z",
						"2016-02-03T00:22:28Z",
						"2016-02-03T18:29:04Z",
						"2016-02-03T13:42:19Z",
						"2016-02-03T00:15:29Z",
						"2016-02-03T10:49:07Z",
						"2016-02-03T19:44:12Z",
						"2016-02-03T08:11:34Z",
						"2016-02-03T23:56:51Z"
					],
					"selectedSampleValue": "2016-02-03T13:36:39Z",
					"tags": null,
					"_id": "1",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "registration_dttm",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "registration_dttm",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "id",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"1",
						"2",
						"3",
						"4",
						"5",
						"6",
						"7b",
						"8",
						"9"
					],
					"selectedSampleValue": "1",
					"tags": null,
					"_id": "3",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "id",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "id",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "first_name",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Donald",
						"Walter",
						"Michelle",
						"Lori",
						"Howard",
						"Frances",
						"Steven",
						"Louis",
						"Keith"
					],
					"selectedSampleValue": "Donald",
					"tags": null,
					"_id": "5",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "first_name",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "first_name",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "last_name",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Lewis",
						"Collins",
						"Henderson",
						"Hudson",
						"Miller",
						"Adams",
						"Hanson",
						"Simmons",
						"Parker"
					],
					"selectedSampleValue": "Lewis",
					"tags": null,
					"_id": "7",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "last_name",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "last_name",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "email",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"dlewis0@clickbank.net",
						"wcollins1@bloglovin.com",
						"mhenderson2@geocities.jp",
						"lhudson3@dion.ne.jp",
						"hmiller4@fema.gov",
						"fadams5@123-reg.co.uk",
						"shanson6@cisco.com",
						"lsimmons7@icio.us",
						"kparker8@amazonaws.com"
					],
					"selectedSampleValue": "dlewis0@clickbank.net",
					"tags": null,
					"_id": "9",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "email",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "email",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "gender",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Male",
						"Male",
						"Female",
						"",
						"Male",
						"Female",
						"Male",
						"Male",
						"Male"
					],
					"selectedSampleValue": "Male",
					"tags": null,
					"_id": "11",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "gender",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "gender",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "ip_address",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"102.22.124.20",
						"247.28.26.93",
						"193.68.146.150",
						"34.252.168.48",
						"103.193.150.230",
						"106.196.106.93",
						"234.130.172.185",
						"18.69.80.15",
						"108.205.40.64"
					],
					"selectedSampleValue": "102.22.124.20",
					"tags": null,
					"_id": "13",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "ip_address",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "ip_address",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "cc",
					"description": "",
					"derivedDataType": "double",
					"precisionScale": null,
					"dataTypeDisplay": "double",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"",
						"3587726269478025",
						"",
						"3568840151595649",
						"3583473261055014",
						"",
						"3550842607768119",
						"",
						""
					],
					"selectedSampleValue": "",
					"tags": null,
					"_id": "15",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": true
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "double",
					"origName": "cc",
					"origDataType": "double",
					"deleted": false,
					"history": [
						{
							"name": "cc",
							"derivedDataType": "double",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "country",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Indonesia",
						"China",
						"France",
						"Russia",
						"France",
						"Russia",
						"Indonesia",
						"China",
						"Guadeloupe"
					],
					"selectedSampleValue": "Indonesia",
					"tags": null,
					"_id": "17",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "country",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "country",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "birthdate",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"7/9/1972",
						"",
						"1/15/1964",
						"4/22/1988",
						"11/26/1998",
						"3/27/1997",
						"",
						"6/1/1992",
						"12/30/1992"
					],
					"selectedSampleValue": "7/9/1972",
					"tags": null,
					"_id": "19",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "birthdate",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "birthdate",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "salary",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"140249.37",
						"$9.28",
						"236219.26",
						"",
						"50210.02",
						"82175.77",
						"129582.61",
						"90744.86",
						"60618.9"
					],
					"selectedSampleValue": "140249.37",
					"tags": null,
					"_id": "21",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "salary",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "salary",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "title",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Senior Financial Analyst",
						"",
						"Teacher",
						"Nuclear Power Engineer",
						"Senior Editor",
						"Account Coordinator",
						"",
						"Product Engineer",
						"Developer II"
					],
					"selectedSampleValue": "Senior Financial Analyst",
					"tags": null,
					"_id": "23",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "title",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "title",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				{
					"name": "comments",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"",
						"",
						"",
						"",
						"",
						"",
						"",
						"",
						""
					],
					"selectedSampleValue": "",
					"tags": null,
					"_id": "25",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "comments",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "comments",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				}
			]
		},
		"method": "SAMPLE_FILE",
		"existingTableName": null,
		"structured": false,
		"targetMergeStrategy": "DEDUPE_AND_MERGE",
		"feedFormat": "ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'\n WITH SERDEPROPERTIES ( 'separatorChar' = ',' ,'escapeChar' = '\\\\' ,'quoteChar' = '\\\"') STORED AS TEXTFILE",
		"targetFormat": "ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde' WITH SERDEPROPERTIES ( 'separatorChar' = ',' ,'escapeChar' = '\\\\' ,'quoteChar' = '\"') STORED AS TEXTFILE",
		"fieldPolicies": [
			{
				"name": "registration_dttm",
				"partition": null,
				"profile": true,
				"standardization": null,
				"validation": null,
				"field": {
					"name": "registration_dttm",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"2016-02-03T13:36:39Z",
						"2016-02-03T00:22:28Z",
						"2016-02-03T18:29:04Z",
						"2016-02-03T13:42:19Z",
						"2016-02-03T00:15:29Z",
						"2016-02-03T10:49:07Z",
						"2016-02-03T19:44:12Z",
						"2016-02-03T08:11:34Z",
						"2016-02-03T23:56:51Z"
					],
					"selectedSampleValue": "2016-02-03T13:36:39Z",
					"tags": null,
					"_id": "1",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "registration_dttm",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "registration_dttm",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				"feedFieldName": "registration_dttm"
			},
			{
				"name": "id",
				"partition": null,
				"profile": true,
				"standardization": null,
				"validation": null,
				"field": {
					"name": "id",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"1",
						"2",
						"3",
						"4",
						"5",
						"6",
						"7b",
						"8",
						"9"
					],
					"selectedSampleValue": "1",
					"tags": null,
					"_id": "3",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "id",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "id",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				"feedFieldName": "id"
			},
			{
				"name": "first_name",
				"partition": null,
				"profile": true,
				"standardization": null,
				"validation": null,
				"field": {
					"name": "first_name",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Donald",
						"Walter",
						"Michelle",
						"Lori",
						"Howard",
						"Frances",
						"Steven",
						"Louis",
						"Keith"
					],
					"selectedSampleValue": "Donald",
					"tags": null,
					"_id": "5",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "first_name",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "first_name",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				"feedFieldName": "first_name"
			},
			{
				"name": "last_name",
				"partition": null,
				"profile": true,
				"standardization": null,
				"validation": null,
				"field": {
					"name": "last_name",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Lewis",
						"Collins",
						"Henderson",
						"Hudson",
						"Miller",
						"Adams",
						"Hanson",
						"Simmons",
						"Parker"
					],
					"selectedSampleValue": "Lewis",
					"tags": null,
					"_id": "7",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "last_name",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "last_name",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				"feedFieldName": "last_name"
			},
			{
				"name": "email",
				"partition": null,
				"profile": true,
				"standardization": null,
				"validation": null,
				"field": {
					"name": "email",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"dlewis0@clickbank.net",
						"wcollins1@bloglovin.com",
						"mhenderson2@geocities.jp",
						"lhudson3@dion.ne.jp",
						"hmiller4@fema.gov",
						"fadams5@123-reg.co.uk",
						"shanson6@cisco.com",
						"lsimmons7@icio.us",
						"kparker8@amazonaws.com"
					],
					"selectedSampleValue": "dlewis0@clickbank.net",
					"tags": null,
					"_id": "9",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "email",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "email",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				"feedFieldName": "email"
			},
			{
				"name": "gender",
				"partition": null,
				"profile": true,
				"standardization": null,
				"validation": null,
				"field": {
					"name": "gender",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Male",
						"Male",
						"Female",
						"",
						"Male",
						"Female",
						"Male",
						"Male",
						"Male"
					],
					"selectedSampleValue": "Male",
					"tags": null,
					"_id": "11",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "gender",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "gender",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				"feedFieldName": "gender"
			},
			{
				"name": "ip_address",
				"partition": null,
				"profile": true,
				"standardization": null,
				"validation": null,
				"field": {
					"name": "ip_address",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"102.22.124.20",
						"247.28.26.93",
						"193.68.146.150",
						"34.252.168.48",
						"103.193.150.230",
						"106.196.106.93",
						"234.130.172.185",
						"18.69.80.15",
						"108.205.40.64"
					],
					"selectedSampleValue": "102.22.124.20",
					"tags": null,
					"_id": "13",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "ip_address",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "ip_address",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				"feedFieldName": "ip_address"
			},
			{
				"name": "cc",
				"partition": null,
				"profile": true,
				"standardization": null,
				"validation": null,
				"field": {
					"name": "cc",
					"description": "",
					"derivedDataType": "double",
					"precisionScale": null,
					"dataTypeDisplay": "double",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"",
						"3587726269478025",
						"",
						"3568840151595649",
						"3583473261055014",
						"",
						"3550842607768119",
						"",
						""
					],
					"selectedSampleValue": "",
					"tags": null,
					"_id": "15",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": true
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "double",
					"origName": "cc",
					"origDataType": "double",
					"deleted": false,
					"history": [
						{
							"name": "cc",
							"derivedDataType": "double",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				"feedFieldName": "cc"
			},
			{
				"name": "country",
				"partition": null,
				"profile": true,
				"standardization": null,
				"validation": null,
				"field": {
					"name": "country",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Indonesia",
						"China",
						"France",
						"Russia",
						"France",
						"Russia",
						"Indonesia",
						"China",
						"Guadeloupe"
					],
					"selectedSampleValue": "Indonesia",
					"tags": null,
					"_id": "17",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "country",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "country",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				"feedFieldName": "country"
			},
			{
				"name": "birthdate",
				"partition": null,
				"profile": true,
				"standardization": null,
				"validation": null,
				"field": {
					"name": "birthdate",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"7/9/1972",
						"",
						"1/15/1964",
						"4/22/1988",
						"11/26/1998",
						"3/27/1997",
						"",
						"6/1/1992",
						"12/30/1992"
					],
					"selectedSampleValue": "7/9/1972",
					"tags": null,
					"_id": "19",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "birthdate",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "birthdate",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				"feedFieldName": "birthdate"
			},
			{
				"name": "salary",
				"partition": null,
				"profile": true,
				"standardization": null,
				"validation": null,
				"field": {
					"name": "salary",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"140249.37",
						"$9.28",
						"236219.26",
						"",
						"50210.02",
						"82175.77",
						"129582.61",
						"90744.86",
						"60618.9"
					],
					"selectedSampleValue": "140249.37",
					"tags": null,
					"_id": "21",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "salary",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "salary",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				"feedFieldName": "salary"
			},
			{
				"name": "title",
				"partition": null,
				"profile": true,
				"standardization": null,
				"validation": null,
				"field": {
					"name": "title",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"Senior Financial Analyst",
						"",
						"Teacher",
						"Nuclear Power Engineer",
						"Senior Editor",
						"Account Coordinator",
						"",
						"Product Engineer",
						"Developer II"
					],
					"selectedSampleValue": "Senior Financial Analyst",
					"tags": null,
					"_id": "23",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "title",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "title",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				"feedFieldName": "title"
			},
			{
				"name": "comments",
				"partition": null,
				"profile": true,
				"standardization": null,
				"validation": null,
				"field": {
					"name": "comments",
					"description": "",
					"derivedDataType": "string",
					"precisionScale": null,
					"dataTypeDisplay": "string",
					"primaryKey": false,
					"nullable": true,
					"createdTracker": false,
					"updatedTracker": false,
					"sampleValues": [
						"",
						"",
						"",
						"",
						"",
						"",
						"",
						"",
						""
					],
					"selectedSampleValue": "",
					"tags": null,
					"_id": "25",
					"nativeDataType": null,
					"modifiable": true,
					"dataTypeDescriptor": {
						"complex": false,
						"date": false,
						"numeric": false
					},
					"descriptionWithoutNewLines": "",
					"dataTypeWithPrecisionAndScale": "string",
					"origName": "comments",
					"origDataType": "string",
					"deleted": false,
					"history": [
						{
							"name": "comments",
							"derivedDataType": "string",
							"precisionScale": null,
							"deleted": false,
							"primaryKey": false,
							"updatedTracker": false,
							"createdTracker": false
						}
					]
				},
				"feedFieldName": "comments"
			}
		],
		"partitions": [],
		"options": {
			"compress": false,
			"compressionFormat": "NONE",
			"auditLogging": true,
			"encrypt": false,
			"trackHistory": false
		},
		"sourceTableIncrementalDateField": null,
		"tableType": "SNAPSHOT"
	},
	"category": {
		"id": "0e078d2c-1afd-426a-951c-6d557b437b6c",
		"name": "System",
		"systemName": "system"
	},
	"dataOwner": "terst",
	"tags": [],
	"reusableFeed": false,
	"dataTransformation": {
		"chartViewModel": null,
		"datasourceIds": null,
		"datasources": null,
		"dataTransformScript": null,
		"sql": null,
		"states": []
	},
	"userProperties": [],
	"options": {
		"skipHeader": true
	},
	"active": true,
	"roleMemberships": [],
	"owner": {
		"displayName": "Data Lake Administrator",
		"email": null,
		"enabled": true,
		"groups": [
			"admin",
			"user"
		],
		"systemName": "dladmin",
		"name": "Data Lake Administrator",
		"title": "Data Lake Administrator",
		"type": "user",
		"_lowername": "data lake administrator",
		"_lowerSystemName": "dladmin",
		"_lowerDisplayName": "data lake administrator"
	},
	"roleMembershipsUpdated": false,
	"tableOption": {},
	"cloned": false,
	"usedByFeeds": [],
	"totalSteps": 7,
	"feedDescriptor": "",
	"templateName": "Data Ingest",
	"templateTableOption": "DEFINE_TABLE",
	"allowSkipHeaderOption": true
}